.main{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 800px;
    height: 400px;
    margin: auto;
    backdrop-filter: blur(70px);
    justify-content:center;
    padding-top: 70px;
    border-radius: 10px;
}
.topbar{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 14px;
}
.topbar input{
    display: flex;
    width: 360px;
    height: 60px;
    background: none;
    outline: none;
    border-radius: 5px;
    background: white;
    padding-left: 40px;
    color: gray;
    font-size: 20px;
    font-weight: 400;
}
.searchIcon{
    height: 60px;
    cursor: pointer;
}
.topweather{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.weatherImg{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 100px;

}
.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 80px;
    font-weight: 400;
}
.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    font-weight: 400;
}
.data-container{
    margin-top: 50px;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.element{
    margin: auto;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}
.icon{
    height: 50px;
    margin-top: 10px;

}
.row{
    display: flex;
    justify-content: center;
}
.col{
    flex: 6;
    padding-top: 20px;
    margin: 0px 10px;
}
.data{
    font-size: 20px;
    font-weight: 400;
}
.text{
    font-size: 15px;
    font-weight: 400;
}